:root {
  --black: #100F0F;
  --gray: #F1F1F1;
  --primary: #0F3D3E;
  --secondary: #E2DCC8;
  --pink: #D61C4E;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  max-width: 1600px;
  margin: auto;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 32px;
  width: 100%;
  height: 72px;
  background-color: var(--black);

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-header__logo {
  color: var(--gray);
  font-size: 2rem;
  font-weight: 300;
}

.main-header__form {
  display: flex;
  align-items: center;
}

.main-header__input-cep {
  height: 40px;
  width: 196px;
  padding: 8px;
  outline: none;
  border-radius: 8px;
  border: 2px solid var(--primary);
  font-family: inherit;
  font-size: 18px;
  background-color: var(--gray);
  margin-right: 16px;
  color: var(--black);
}

.main-header__input-cep:focus {
  outline: none;
  border: 2px solid var(--pink);
}
.main-header__input-cep::-webkit-outer-spin-button,
.main-header__input-cep::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance:textfield;
}

.main-header__submit-btn {
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 6px;
  background-color: var(--primary);
  color: white;
  cursor: pointer;
}

.main-header__submit-btn:hover,
.main-header__submit-btn:active {
  background-color: var(--pink);
}

.main-header__submit-btn svg {
  height: 30px;
}